<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<bean id="loginAction" class="com.common.LoginAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="orderAction" class="com.order.action.OrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
		<property name="order" ref="order"></property>
	</bean>
	
	<bean id="userService" class="com.user.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="orderService" class="com.order.service.impl.OrderServiceImpl">
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	
	<bean id="userDao" class="com.user.dao.UserDao"/>
	<bean id="orderDao" class="com.order.dao.OrderDao"/>
	<bean id="baseDao" class="com.BaseDao" abstract="true">
		<property name="hibernateTemplateDao" ref="hibernateTemplateDao"></property>
	</bean>
	<bean id="hibernateTemplateDao" class="com.template.dao.HibernateTemplateDao">
		<property name="templateCache">
			<map></map>
		</property>
		<property name="dynamicStatementBuilder" ref="dynamicStatementBuilder"></property>
	</bean>
	<bean id="dynamicStatementBuilder" class="com.template.service.impl.DynamicHibernateStatementBuilderImpl">
		<property name="fileNames">
            <list>
                <value>classpath*:/**/*-dynamic.xml</value><!-- 这里我们指定要加载某个文件夹下所有以-dynamic.xml结尾的文件   -->
            </list>
        </property>
	</bean>
	
	<bean id="order" class="com.order.bean.Order"/>
</beans>