<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<display-name></display-name>	
  
  	<welcome-file-list>
     	<welcome-file>common/login.jsp</welcome-file>
  	</welcome-file-list>
  
  	<!-- apache-shiro 拦截器 -->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>  
        <url-pattern>*.jsp</url-pattern>  
    </filter-mapping>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>  
        <url-pattern>*.action</url-pattern>  
    </filter-mapping>
	<!-- 配置sitemesh,暂时不用, struts-cleanup、sitemesh要在struts2前面-->
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<!-- 配置struts2 -->
	<filter>
  		<filter-name>struts2</filter-name>
  		<filter-class>
  			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
  		<filter-name>struts2</filter-name>
  		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<!-- 配置spring,指定spring配置文件位置 -->
	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>
	    <!--加载多个spring配置文件 -->
	    classpath:/applicationContext.xml
	   </param-value>
	</context-param>
	<!-- 定义SPRING监听器，加载spring -->
	<listener>
	   <listener-class>
	    org.springframework.web.context.ContextLoaderListener
	   </listener-class>
	</listener>
	
	<!-- Session过滤器 start -->
<!-- 	<filter> -->
<!-- 	  	<filter-name>sessionfilter</filter-name> -->
<!-- 	  	<filter-class>com.filter.SessionFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>sessionfilter</filter-name> -->
<!-- 		<url-pattern>*.jsp</url-pattern> -->
<!-- 	</filter-mapping> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>sessionfilter</filter-name> -->
<!-- 		<url-pattern>*.action</url-pattern> -->
<!-- 	</filter-mapping> -->
	<!-- Session过滤器 end -->
	
</web-app>
